.aboutHeading {
  margin-bottom: 4rem;
}

.aboutContainer {
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 1vh 5vw;
  text-align: justify;
  color: aliceblue;
  line-height: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
}

.aboutContainer h2 {
  text-align: justify;
  color: aliceblue;
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.aboutContainer p {
  font-size: 1.3rem;
}

@media screen and (max-width: 500px) {
  .aboutContainer h2 {
    font-size: 1.7rem;

    text-align: center;
    margin-bottom: 2rem;
  }

  .aboutContainer p {
    font-size: 1.15rem;
  }
}
